// RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// OVERALL STYLES
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    height: 100%;
    width: 100%;
}

// BUTTON RESET
button {
    border: none;
    background: none;
    cursor: pointer;
}
