.profile_option {
    flex: 1 0 0;
    max-width: 8rem;
    width: 100%;
    color: var(--color-gray-90, #702dff);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

    // SET ANIMATION
    animation: slide 0.5s ease-in-out;

    @keyframes slide {
        // SIMPLE ANIMATION
        0% {
            // SIMPLE NO MOV
            transform: translateX(0);
        }
        100% {
            // SIMPLE MOV
            transform: translateX(0);
        }
    }
}

.active {
    display: flex;
    width: 8rem;
    padding: 0.6rem 0.4rem;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    flex: 1 0 0;
    color: #702dff;
    border-radius: 0.75rem;
    background: var(--purple, #6f2dff13);
    cursor: pointer;

    // SET ANIMATION
    animation: slide 0.5s ease-in-out;

    @keyframes slide {
        // SIMPLE ANIMATION
        0% {
            // SIMPLE NO MOV
            transform: translateX(0);
        }
        100% {
            // SIMPLE MOV
            transform: translateX(0);
        }
    }
}
