.story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2rem;
    padding: 2rem 4rem;

    width: 100%;

    img {
        width: 80%;
        height: 24rem;
        border-radius: 1rem;
        object-fit: cover;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        .tags {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 80%;
            flex-wrap: wrap;

            gap: 0.4rem;

            .tag {
                display: flex;
                padding: 0.625rem 1.25rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;

                // COLOR
                border-radius: 0.625rem;
                background: #3b3b3b;

                // TYPOGRAPHY
                color: #fff;
                text-align: center;
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 200;

                cursor: pointer;
            }
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .story_content {
        width: 80%;
        text-align: justify;
    }
}
