.story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
    width: 100%;

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 24rem;
            border-radius: 1rem !important;

            img {
                height: 100%;
                width: 100%;

                border-radius: 1rem !important;
                object-fit: contain;
            }
        }

        .tags {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;

            gap: 0.4rem;

            .skeleton {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
            }

            .tag {
                display: flex;
                padding: 0.625rem 1.25rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;

                // COLOR
                border-radius: 0.625rem;
                background: #3b3b3b;

                // TYPOGRAPHY
                color: #fff;
                text-align: center;
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 200;

                cursor: pointer;
            }
        }
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;

            .action {
                display: flex;
                width: 2.5rem;
                height: 2.5rem;
                padding: 0.5rem;
                justify-content: center;
                align-items: center;

                border-radius: 0.3125rem;
                border: 1px solid var(--neutral-400, #d9dbe9);
                background: #fff;

                cursor: pointer;

                &:hover {
                    background: var(--neutral-100, #f4f5f7);
                }
            }
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            text-align: left !important;
            text-align: center;

            // TEXT COLOR
            background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .story_content {
        width: 80%;
        text-align: justify;
    }

    .user {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;

        h1 {
            background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .user_detail {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .profile {
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .details {
                .name {
                }

                .email {
                }

                .date {
                }
            }
        }

        .user_stories {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .story {
        .left {
            .image {
                height: 16rem;
            }
        }

        .title {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .actions {
                width: 100%;
                justify-content: center;
            }
        }

        .user {
            .user_detail {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }

            .user_stories {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
