.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
        padding: 2rem 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .example {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
        position: relative;

        h1 {
            background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        img {
            width: 80%;
            cursor: pointer;
            height: 100%;
            flex-shrink: 0;
            object-fit: fill;
            border-radius: 1rem;
            filter: grayscale(100%); /* Apply grayscale filter by default */

            transition: filter 0.3s ease; /* Add a smooth transition effect */
            margin-bottom: 2rem;
        }

        img:hover {
            filter: grayscale(0%); /* Remove grayscale filter on hover */
        }

        // .radial_effect {
        //     background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
        //     width: 95%;
        //     height: 400px;
        //     border-radius: 50%;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     color: white;
        //     font-size: 18px;
        //     font-weight: bold;
        //     text-align: center;
        //     z-index: -1;
        //     position: absolute;
        //     top: 9rem;
        //     left: 2rem;

        //     filter: blur(53px);
        // }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}
