.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
        padding: 2rem 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
