.generate_story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;

    h1 {
        background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .image {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .uploaded {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            .uploaded_image {
                width: 100%;
                height: 20rem;
                object-fit: cover;
                border-radius: 1.25rem;
            }

            .uploaded_text {
                display: flex;
                flex-direction: column;
                text-align: center;

                background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                cursor: pointer;
            }
        }

        .label {
            align-self: stretch;
            color: var(--color-gray-100, #202020);
            text-align: center;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            text-transform: capitalize;
        }

        .image_uploader {
            display: flex;
            height: 20rem;
            padding: 1.2rem 1.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            align-self: stretch;

            border-radius: 1.25rem;
            border: 1px solid var(--neutral-400, #d9dbe9);
            background: var(--color-gray-10, #fff);

            p {
                align-self: stretch;
                color: var(--color-gray-70, #7e7e7e);
                text-align: center;
                font-feature-settings:
                    "clig" off,
                    "liga" off;
                font-family: DM Sans;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    .inputs {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .theme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 1rem;

        .label {
            align-self: stretch;
            color: var(--color-gray-100, #202020);
            text-align: center;
            font-feature-settings:
                "clig" off,
                "liga" off;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            text-transform: capitalize;
        }

        .themes {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 0.75rem;
            align-self: stretch;
            flex-wrap: wrap;
        }
    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.8rem;
    }
}
