.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.8rem 1.6rem;

    width: 100%;
    z-index: 1;

    .logo {
        display: flex;
        align-items: center;

        font-size: 2.4rem;
        font-weight: 700;
    }

    .action {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .menus {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .menu {
                background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}
