.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.8rem 1.6rem;
    z-index: 1;

    .logo {
        display: flex;
        align-items: center;
        height: 40px;
        width: 180px;
        flex-shrink: 1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .action {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-self: center;

        gap: 1.2rem;

        .menu {
            background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .auth {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-shrink: 1;

        .link {
            background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
        }

        .profile {
            width: 100%;
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, #702dff 33.02%, #702dff 33.02%, #9747ff 83.25%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .logo {
            height: 50px;
            width: 150px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .action {
            .menus {
                .menu {
                }
            }

            .peerlist {
                display: none;
            }
        }
    }
}
